<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        .welcome{
            color: aquamarine;
            text-align: center;
        }
        .mainbody{
            display: flex;
            justify-content: space-between;
        }
        .box{
            height: 80px;
            width: 80px;
            background-color: {{bgcolor}};
            border: 2px black solid;
        } 
        </style>
        

    <title>Document</title>
</head>
<body>
    
    <div class="welcome "><h1> Welcome! </h1> </div>

    <div class="mainbody">
        {%for i in range(num)%}
            <div class="box"> </div>
        {%endfor%}

    </div>
    

</body>
</html>